body {

}


.hero{
    background-image: url("img/bayoulouisiane.jpg");
    background-position: bottom;
    padding:150px 0 ;
}


footer {

}


h1,h2,.hero{
    text-align: center;
}

h1{
    font-size: 3em;
    color:#175732;
}


.row{
display: flex;
margin-top:2em;
margin-right:10em;
margin-bottom:2em;
margin-left:10em;
}

p,.col-lg-8{
    margin: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.imgcroisiere{
  max-width: 100%;
  height: auto;
}

.imgfflore{
    max-width: 100%;
    height: auto;
  }

  .imgjazzman{
    max-width: 100%;
    height: auto;
  }

h1,.col-lg-12{
    text-align: center;
}

.nomcroisiere{
    text-align: center;
    font-size: 2em;
}